*{ 
    box-sizing: border-box;
}
#Header{
    background-color: #759FBC;
    
}
#Body{
    background-color:#90C3C8;
    
    width:80%;
    min-width: 60px;
    float: right;
}

#sideBar{
    background-color: #90C3C8C8;
    
    width:20%;
    min-width: 60px;
    float: left;

}
#home{
    background-image: url(/assets/android-chrome-512x512.png);
    background-size: 60px;
    height: 60px;
}
#topNav{
padding: 10px;
float: center;
}
button.topNavButton{
    padding: 15px;
}

/* [class*="col"] {
    float: left;
    padding: 15px;
  }

.col1{width: 10%;}
.col2{width: 20%;}
.col3{width: 30%;}
.col4{width: 40%;}
.col5{width: 50%;}
.col6{width: 60%;}
.col7{width: 70%;}
.col8{width: 80%;}
.col9{width: 90%;}
.col10{width:100%;} */

#p3 .data{
    font-weight: bold;
}
div{padding-bottom: 5px;}

p{
   color: black;
}
.Paragraph{
font-weight: bold;
color: red;
}

#Id{
    color: greenyellow;

}
body{
    background-color: #1F5673;
    padding: 10px;
}